<h1> Welcome to the Book Pub </h1>

<% @books.each do |book| %>
  <h2> Title: <%= book.title %></h2>
  <p>Publication year: <%= book.year %> </p>
  <p>Page Count: <%= book.page_count %> </p>
  <p>Author(s): <$= book.author %>
<% end %>
